::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #A42A12;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b200e;
}
